<h1>Log in</h1>
<form method ="POST">
	<label>Username</label>
	<input type ="text" name ="user_name" placeholder="Username" />
	<br/>
	<label>Password</label>
	<input type ="password" name ="password" placeholder="Password" />
	<button>Login</button>
</form>
