<h1>Your Messages</h1>
<table>
	<thead>
		<th><big><b>From:</b></big></th>
		<th><big><b>Title:</b></big></th>
		<th><big><b>Sent:</b></big></th>
	</thead>
	
	<% @messages.each do |message|%>
		<tr>
			<td><%= link_to message.sender.user_name, message.sender.user_name %></td>
			<td><%= link_to message.title, message_path(message.sender.user_name,message.title) %></td>
			<td><%= message.created_at %></td>
		</tr>
	<% end %>
</table>
<p>
	<%= link_to 'Dashboard', users_path%>
</p>