<form method="POST">
	<label>First name</label>
	<input type ="text" name="first_name"  placeholder="First Name"/>
	<br/>
	<label>Last name</label>
	<input type ="text" name="last_name"  placeholder="Last Name"/>
	<br/>
	<label>Username</label>
	<input type ="text" name="user_name"  placeholder="Username"/>
	<br/>
	<label>Email Address</label>
	<input type ="email" name="email"  placeholder="Email Address"/>
	<br/>
	<label>Birthday</label>
	<input type ="date" name="born_on"  value="1979-01-20" />
	<br/>
	<label>I am a: </label>
	<select name="select">
	  <option value="doesn't matter" selected>it doesn't matter</option>
	  <option value="male">Male</option> 
	  <option value="female">Female</option>
	  <option value="transgender">Transgender</option>
	  <option value="other">Other</option>
	</select>
	<br/>
	<label>Seeking a: </label>
	<select name="select">
	  <option value="doesn't matter" selected>it doesn't matter</option>
	  <option value="male">Male</option> 
	  <option value="female">Female</option>
	  <option value="transgender">Transgender</option>
	  <option value="other">Other</option>
	</select>
	<br/>
	<label>Zipcode</label>
	<input type = "number" min="00501" max="99950"/>
	<br/>

	<label>Password</label>
	<input type ="password" name="password"  placeholder="Password"/>
	<br/>
	<label>Confirm Password</label>
	<input type ="password" name="password_confirmation"  placeholder="Confirm Password"/>
	<br/>
	<button>Submit</button>
</form>
