<form method="POST">
	<label>First name</label>
	<input type ="text" name="first_name"  placeholder="First Name"/>
	<br/>
	<label>Last name</label>
	<input type ="text" name="last_name"  placeholder="Last Name"/>
	<br/>
	<label>Username</label>
	<input type ="text" name="user_name"  placeholder="Username"/>
	<br/>
	<label>Email Address</label>
	<input type ="email" name="email"  placeholder="Email Address"/>
	<br/>
	<label>Birthday</label>
	<input type ="text" name="born_on"  placeholder="Birthday"/>
	<br/>
	<label>Password</label>
	<input type ="password" name="password"  placeholder="Password"/>
	<br/>
	<label>Confirm Password</label>
	<input type ="password" name="password_confirmation"  placeholder="Confirm Password"/>
	<button>Submit</button>
</form>
