<header>
	<h1>Zodiac Love</h1>
	<h2>Finding your match with the stars</h2>
	<nav>
		<ul>
			<li><%= link_to 'Signs Museum', signs_path %></li>
			<li><%= link_to 'Sign Up!', 'signup' %></li>
			<li><%= link_to 'Sign In!', login_path %></li>
		</ul>
	</nav>
</header>