<div class="panel panel-default">
<h1>Sun Signs</h1>
  
  <div class="panel-heading">List of signs</div>
  <div class="panel-body">

  <!-- List group -->
  <ul class="list-group">
  	<% @sun_signs.each do |sign| %>
		<li class="list-group-item"> <%= link_to sign.name, sign_path(sign.name) %> </li>
	<% end %>
  </ul>
   </div>
</div>
