// Place all the styles related to the sun_signs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
symbol-huge{
	font-size: 10em;
}
.sun-symbol {
	text-align:center;
	font-size: 7em;
}
.sun-symbol-md {
	text-align:center;
	font-size: 5em;
}
.sun-symbol-sm {
	text-align:center;
	font-size: 3em;
}
.sun-symbol-lg {
	font-size: 7em;
}